.swiper {
  min-width: 0;
  width: 100%;

  &__button-prev,
  &__button-next {
    height: 40px;
    min-width: 40px;
    background-color: #fff;
    border-radius: 999px;
    display: none;
    transition: all 0.3s;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include small {
      height: 50px;
      min-width: 50px;
    }

    @include desktop {
      height: 68px;
      min-width: 68px;
    }

    &:hover {
      transform: scale(1.2);
      background-color: rgb(216, 230, 240);
    }
  }

  &__button-prev-icon,
  &__button-next-icon {
    background-repeat: no-repeat;
    position: center;
    height: 24px;
    width: 14px;

    @include small {
      height: 28px;
      width: 18px;
    }

    @include desktop {
      height: 32px;
      width: 22px;
    }
  }

  &__button-prev-icon {
    background-image: url(../images/icons/left.svg);
  }

  &__button-next-icon {
    background-image: url(../images/icons/right.svg);
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

.swiper-pagination-bullet {
  background-color: #d9d9d9 !important;
}

.swiper-pagination-bullet-active {
  background-color: #4b4b4b !important;
}
